iframe{width:100%}
@media only screen and (max-device-width: 480px) {img.post-icon{width:85%}}
@media screen and (min-width: 480px){img.post-icon{width:440px}}
.pagination-container {
	margin-top: 1em;
	padding-top: 2em;
	text-align: center;
	display: inline-flex;
	width: 100%;
}

.pagination {
	margin: 0 auto;
}

.pagination-item {
    float: left;
    font-size: 2em;
    height: 100px;
    line-height: 3em;
    list-style-type: none;
    width: 100px;
    position: relative;
}

.pagination-link {
	padding: 1.1em 1.6em;
	float: left;
	text-decoration: none;
}

.pagination-item--wide {
	list-style-type: none;
	float: left;
	position: relative;
	top: 2.3em;
}

.pagination-item--wide.first {
	margin: 0 1em 0 0;
}

.pagination-item--wide.last {
	margin: 0 0 0 1em;
}

.pagination-link--wide {
	text-decoration: none;
	color: #8b969c;
	padding: 1.1em 1.6em;
}

.pagination-link--wide:hover {
	color: #fa4248;
}

.pagination-link--wide.first:before,
.pagination-link--wide.last:after {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.pagination-link--wide.first:before {
	margin-right: 0.5em;
}

.pagination-link--wide.last:after {
	margin-left: 0.5em;
}

.pagination-number {
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}
