.intro-header{
  background-attachment: fixed;
  background-size:100%;
  background-repeat:none;
  background-position:center center;
  height:50%;
}
iframe{width:100%}
@media only screen and (max-device-width: 480px) {img.post-icon{width:85%}}
@media screen and (min-width: 480px){img.post-icon{width:440px}}
