.flexbox-thumbnail-grid {
	user-select: none
}
.flexbox-thumbnail-grid figure {
	position: relative;
	min-width: 200px;
	height: 150px;
	margin: 5px;
	border-radius: 3px;
	box-shadow: inset 0 -40px 0 0 rgba(0,0,0,.1);
	transition: all .2s ease-in-out
}
.flexbox-thumbnail-grid figure:hover {
	box-shadow: inset 0 -150px 0 0 rgba(0,0,0,.5);
}
.flexbox-thumbnail-grid figcaption{
	position: absolute;
	width: 100%;
	text-align: center;
	color: #f4f4f4;
	text-shadow: 0 0 3px #000;
	bottom: 10px;
	transition: all .2s ease-in-out
}
.flexbox-thumbnail-grid figure:hover figcaption{
	bottom: 60px
}
.flexbox-thumbnail-grid fighidden {
	position: absolute;
	opacity:0 !important;
	width: 100%;
	text-align: center;
	color: #f4f4f4;
	text-shadow: 0 0 3px #000;
	bottom: 10px;
	transition: all .2s ease-in-out
}
.flexbox-thumbnail-grid figure:hover fighidden {
	bottom: 40px;
	opacity:1 !important;
}
.flexbox {
	width:100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch
}
.flexbox-item {
	flex: 1 0 auto
}
