<footer id="footer">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="single_footer_top wow fadeInDown">
            <h2>Editorias</h2>
            <ul class="labels_nav">
              {% assign tags_list = site.data.categories %}  
              {% if tags_list.first[0] == null %}
                    {% for tag in tags_list %} 
                          <li><a href="/{{ tag }}">{{ tag | capitalize }}</a></li>
                    {% endfor %}
              {% else %}
                    {% for tag in tags_list %} 
                          <li><a href="/{{ tag[0] }}">{{ tag[0] | capitalize }}</a></li>
                    {% endfor %}
              {% endif %}
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="single_footer_top wow fadeInRight">
            <h2>Sobre o CA</h2>
            <p>Somos o C.A Inês Etienne Romeu, de Jornalismo da Universidade Metodista. Quer falar conosco? Envie mensagem por aqui ou para cametodista@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="{{ "/js/jquery-3.1.0.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/custom.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/html5shiv.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/respond.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/slick.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/wow.min.js" | prepend: site.baseurl }}"></script>
