<div class="bar">
    <header>
        <h1 class="header"><a href="http://www.code-pal.com">Dead Stocker</a>
        </h1>
        <nav>
            <ul> 			
                <li><a href="#">Dead Spacer</a></li> 
                <li><a href="#">Dead Zone</a></li> 
                <li><a href="#">Rack Snatch</a></li> 
                <li><a href="#">Tagger Watch</a></li> 
            </ul>	
        </nav>
        <a href="http://www.facebook.com/codepal"><img src="images/fb.png"/></a>
        <a href="http://twitter.com/sumeetchawla/"><img src="images/twitter.png"/></a>
        <a href="http://feeds.feedburner.com/code-pal/"><img src="images/rss.png"/></a>
        <p>SUBSCRIBE</p>
    </header>
</div>
