<div class="head">
      <div class="headerobjectswrapper">
        <header><a href="{{ site.baseurl }}">{{ site.title }}</a></header>
      </div>
      {% assign tags_list = site.data.categories %}  
      {% if tags_list.first[0] == null %}
            {% for tag in tags_list %} 
                  <a href="{{ tag }}">{{ tag | capitalize }}</a>
            {% endfor %}
      {% else %}
            {% for tag in tags_list %} 
                  <a href="{{ tag[0] }}">{{ tag[0] | capitalize }}</a>
            {% endfor %}
      {% endif %}
</div>
