---
layout: default
---
<section id="mainContent">    
    <h2>{{ page.category.title }}</h2>
    <h5>{{ page.category.description }}</h2>
    <div class="content_top">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm6">
                <div class="content_top_right">
                    <ul class="featured_nav wow fadeInDown">
                        {% for post in site.categories.[page.category] %}
                        {% assign author = site.data.authors[post.author] %}
                            <li><img src="{{ post.header-image }}" alt="">
                                <div class="title_caption"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
                            </li>
                        {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
