---
layout: default
---
<h1>{{ site.data.categories[page.category].name }}</h1>
<h3>{{ site.data.categories[page.category].description }}</h3>
<section class="flexbox-thumbnail-grid flexbox">
{% for post in site.categories.[page.category] %}
{% assign author = site.data.authors[post.author] %}
<a href="{{ post.url | prepend: site.baseurl }}" class="flexbox-item">
	<figure style="background-image:url({{ post.header-image }});background-size:cover">
		<figcaption>{{ post.title }}</figcaption>
		<fighidden>por {{site.data.authors[post.author].name}}</fighidden>
	</figure>
</a>
{% endfor %}
</section>
