---
layout: default
---
<div class="content">
    <div class="collumns">
        {% for post in paginator.posts %}
        {% assign author = site.data.authors[post.author] %}
        <div class="collumn">
                <div class="head"><span class="headline hl3">{{ post.title }}</span><p><span class="headline hl4">por {% if post.author %}{{ author.name }}{% else %}{{ site.title }}{% endif %}</span></p></div>
                <p>
                    {{ post.excerpt }} 
                    {% capture content_words %} 
                      {{ post.content | number_of_words }} 
                    {% endcapture %} 
                    {% capture excerpt_words %} 
                      {{ post.excerpt | number_of_words }} 
                    {% endcapture %} 
                    {% if excerpt_words != content_words %}
                    {% endif %}
                    {% if post.header-image %}
                        <figure class="figure">
                                <img class="media" src="{{ post.header-image }}" alt="">
                                <figcaption class="figcaption">{{ post.header-caption }}</figcaption>
                        </figure>
                    {% endif %}
        </div>
        {% endfor %}
</div>
