---
layout: default
---
<section class="flexbox-thumbnail-grid flexbox">
{% for post in paginator.posts limit:8 %}
{% assign author = site.data.authors[post.author] %}
<a href="{{ post.url | prepend: site.baseurl }}" class="flexbox-item">
	<figure style="background-image:url({{ post.header-image }});background-size:cover">
		<figcaption>{{ post.title }}</figcaption>
		<fighidden>por {{site.data.authors[post.author].name}}</fighidden>
	</figure>
</a>
{% endfor %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
</section>
