---
layout: default
---
{% assign author = site.authors[page.author] %}
<header class="intro-header" style="background-image: url('{{ page.header-image }}');background-size:cover">
    <div class="container">
        <div class="row">
            <div>
                <div class="post-heading">
                    <h4>{{ page.title }}</h4>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Publicada por {% if page.author %}{{ author.name }}{% else %}{{ site.title }}{% endif %} - {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<article>
    <div class="container">
        <div class="row">
            <div>
			{{ content | replace: '<!--break-->', '<a class="anchor" id="read-more"></a>' }}
                <hr>
                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Postagem anterior</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Próxima postagem &rarr;</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</article>
<hr>
