---
layout: default
---
{% assign author = site.data.authors[page.author] %}
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div>
                <div class="post-heading">
		<br/><br/>
		    <div style="height:100px;background-image: url('{{ page.header-image }}');width:100%;border-radius:16px;background-attachment:fixed;background-position:center center">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    	<h4 class="subheading">{{ page.subtitle }}</h4>
                    {% endif %}
			<span class="meta">Publicada por {% if page.author %}{{ author.name }}{% else %}{{ site.title }}{% endif %} - {{ page.date | date: "%b %-d, %Y" }}</span>
			</div>
                </div>
            </div>
        </div>
    </div>
</header>
<article>
    <div class="container">
        <div class="row">
	    <div>
			{{ content | replace: '<!--break-->', '<a class="anchor" id="read-more"></a>' }}
            </div>
        </div>
    </div>
</article>
<hr>
